@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	color: hsl(220 20% 98%);
	background-color: hsl(220 20% 14%);
}

form {
	margin: 2rem 0;
	display: grid;
	justify-content: start;
	row-gap: 1rem;
}

label {
	display: block;
	margin-bottom: 0.4rem;
	color: hsl(220 20% 80%);
}

input,
button {
	padding: 1rem;
	font: inherit;
	color: inherit;
	background-color: hsl(220 20% 20%);
	border: none;
	border-radius: 1rem;
	border: 1px solid hsl(220 20% 28%);
}

button {
	margin-top: 0.4rem;
	font-weight: 700;
	cursor: pointer;
	max-width: 140px;
}

nav {
	display: flex;
	gap: 1rem;
	padding: 2rem;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.error {
	color: tomato;
}
